
<!----------------------  FOOTER  ------------------>

<div class="footer">
    <div class="footer-container">
        <div class="row">
            <div class="footer-col-2">
                <a href="Index.html"><img src="\static\img\hostel-icon.png"></a>
                <p>Our purpose is to provide you a better Hostel</p>
            </div> 
            <div class="footer-col-3">
                <h2>Useful Links</h2>
                <ul>
                    <li>For Logo</li>
                    <li>For Background</li>
                    <li>For Pictures</li>
                </ul>
            </div>
            <!-- ----------------Social-menu-------- -->
            <div class="social-menu">
                <h1>Follow Us</h1>
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
              </div>
        </div>
        <hr>
    </div>
</div>

</body>
</html>